@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("animations.css");

@layer base {
  :root {
    --primary: #d8ae7e;
    --secondary: #f8c794;
    --third: #ffe0b5;
    --white: #f8f4e1;
    --black: #322c2b;
  }

  .dark {
    --primary: #543310;
    --secondary: #74512d;
    --third: #af8f6f;
    --white: #f8f4e1;
    --black: #322c2b;
  }
}

@layer base {
  html {
    @apply font-medium;
    font-family: Neue Montreal;
  }

  body {
    @apply overflow-x-hidden;
  }
}
